@import url('https://fonts.googleapis.com/css?family=Angkor' rel='stylesheet');
@import url('https://fonts.googleapis.com/css?family=Beth+Ellen');
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
 background-color: #ffd966;
 font-family: 'Beth Ellen', cursive;
  
  justify-content: center;   /* center horizontally */
  align-items: center;       
}

/* Container setup */
.app-container {
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: flex-start; 
  min-height: 100vh;
  gap: 30px;
  padding: 100px 20px;
background-color: #f4d371;
 
  transform: translateY(20px);
  box-sizing: border-box;
}

/* Header box styling */
.header-box {
  text-align: center;
  background-color: #ffffff;
  
  border: 2px solid #333;
  border-radius: 10px;
  padding: 40px 60px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  width: 100%;
  max-width: 600px;
}

/* Nav bar styling */
nav {
  display: flex;
  gap: 20px;
  
  margin-bottom: 40px;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #ffffff;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  color: #333;
}

nav a:hover {
  color: #646cff;
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 8px; /* space between icon and text */
}

.nav-icon {
  width: 20px;
  height: 20px;
}