.streamlist-container {
  background-color: #ffffffaa;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.input-section {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  font-size: 1em;
  width: 60%;
  border: 1px solid #333;
  border-radius: 6px;
  margin-right: 10px;
}

button {
  padding: 8px 15px;
  font-size: 1em;
  border-radius: 6px;
  border: 1px solid #333;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  color: #fff;
}

.item-list {
  list-style: none;
  padding: 0;
}

.item-list li {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}
select {
  padding: 8px;
  font-size: 1em;
  border: 1px solid #333;
  border-radius: 6px;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
}